:root {
    --search-border-radius: 16px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
}

// title
.title {
    font-family: Roboto;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 63px */
    letter-spacing: 0.21px;

    background: var(--color-Gradient-Title);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    padding: 20px 0 10px;
}

// search
.search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 45px;
    width: 50%;
    background: linear-gradient(270deg, #f3b055 0%, #fee0b4 100%);
    border: 2px solid #884a39;
    border-radius: var(--search-border-radius);

    // Dấu nháy màu đỏ khi nhập
    caret-color: var(--color-Sienna);

    &::after {
        content: '';
        top: 0;
        right: 9%;
        position: absolute;
        height: 100%;
        width: 1.5px;
        background-color: var(--color-Copper);
    }
    &:focus-within {
        border-color: var(--color-Copper);
    }
    &:hover {
        border-color: var(--color-Copper);

        .icon {
            color: var(--color-Black);
        }
    }
}
.input {
    color: var(--color-Sienna);

    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: 0.08px;

    padding-right: 30px;
    padding-left: 18px;
    flex: 9;

    height: 100%;
    width: 100%;

    background-color: transparent;
    border-radius: var(--search-border-radius) 0 0 var(--search-border-radius);

    &:focus {
        background: var(--color-Gray-100);
    }
}
.icon {
    font-size: 1.8rem;
    flex: 1;
    width: 100%;
    color: rgba(22, 24, 35, 0.34);

    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);

    &:hover {
        cursor: pointer;
    }
}

// content
.content {
    margin-top: 20px;
    width: 90%;
    height: 100%;

    color: #000;
}

.table {
    width: 100%;
    height: 100%;

    .title-table {
        // width: 100%;
        padding: 15px;
        font-size: 1.8rem;
        background: var(--color-Champagne);
        font-weight: 600;
    }
    .item {
        background-color: var(--color-Champagne);
        padding: 15px;
    }
}
.wrapper-btn {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 40px;
}
.btn {
    width: fit-content;
}
