:root {
    --search-border-radius: 16px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
    padding: 20px;

    td,
    tr {
        border-style: none;
    }
    // fix css bootrap
    .table > :not(caption) > * > * {
        background-color: transparent;
    }

    // title
    .title {
        font-family: Roboto;
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 900;
        line-height: 150%; /* 63px */
        letter-spacing: 0.21px;

        background: var(--color-Gradient-Title);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .content-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        .my-container {
            margin: 30px 0;
            border-radius: 10px;

            .items {
                display: grid;
                grid-template-columns: auto auto;
                gap: 8px 8px;

                .item {
                    border: 2px solid var(--color-Sienna);
                    border-radius: 10px;

                    display: flex;
                    flex-flow: column wrap;
                    gap: 8px;
                    padding: 16px;

                    div {
                        display: flex;
                        flex-flow: row wrap;
                        gap: 16px;
                        padding: 0 16px;

                        span {
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 150%; /* 24px */
                            letter-spacing: 0.024px;
                            text-align: justify;
                            margin: 0;

                            &:nth-child(1) {
                                color: var(--color-Sienna);
                            }

                            &:nth-child(2) {
                                color: var(--color-Copper);
                            }
                        }

                        @media screen and (max-width: 576px) {
                            span {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .btn {
        width: 200px;
    }
}
